body{
    background-color: black;
}

body{
    color: white;
    text-align: center;
    margin-top: 20%;
    
}
#a{
    margin-top: 15%;
}
a{color: white;}
p{
    font-size: 25px;
}

